[Unit]
Description=containerd container runtime
Documentation=https://containerd.io
After=network.target dbus.service qemubox-nexus-erofs-snapshotter.service
Requires=qemubox-nexus-erofs-snapshotter.service

[Service]
Environment=QEMUBOX_VM_STATE_DIR=/run/qemubox/vm
Environment=QEMUBOX_CNI_CONF_DIR=/usr/share/qemubox/config/cni/net.d
Environment=QEMUBOX_CNI_BIN_DIR=/usr/share/qemubox/libexec/cni
ExecSearchPath=/usr/share/qemubox/bin
ExecSearchPath=/usr/local/sbin
ExecSearchPath=/usr/local/bin
ExecSearchPath=/usr/sbin
ExecSearchPath=/usr/bin
ExecSearchPath=/sbin
ExecSearchPath=/bin
ExecStartPre=-/sbin/modprobe overlay
ExecStartPre=-/sbin/modprobe erofs
ExecStartPre=-/sbin/modprobe vhost_vsock
ExecStart=/usr/share/qemubox/bin/containerd --config /usr/share/qemubox/config/containerd/config.toml

Type=notify
Delegate=yes
KillMode=process
Restart=always
RestartSec=5

# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNPROC=infinity
LimitCORE=infinity

# Comment TasksMax if your systemd version does not supports it.
# Only systemd 226 and above support this version.
TasksMax=infinity
OOMScoreAdjust=-999

[Install]
WantedBy=multi-user.target
