[Unit]
Description=Docker Socket for the API
PartOf=docker.service

[Socket]
ListenStream=/run/docker.sock
SocketMode=0666
SocketUser=root
SocketGroup=root

[Install]
WantedBy=sockets.target
